*{
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    margin: auto;
    
    color: #fff;
}
  
nav{
 background-color: #c4464a;
 height: 50px;
 display: flex;
justify-content: space-evenly;
 align-items: center;
 overflow: hidden;
 border-radius: 40px;
 margin: 0 auto;
 width: 800px;
 font-family: "Roboto", sans-serif;
 
}

#ancho{
   background-color: rgb(44, 37, 37);
}
header{
   width:1366px ;
}
    
nav a{
        text-decoration: none;
        color: #ffbb3e;
        transition: background-color 0.3s;
}
    
nav a:hover{
        background-color: #46a3aa;
        transform: scale(1.2);
}
    
main{
        width: 1366px;
        height: 2800px;
        margin: auto;
    }
section{
        width: 1366px;
        height: auto;
    }

footer{
        background-color:#c4464a;
        padding: 3rem;
        color: black;
        height: 300px;
        
     } 

     hr{
        width: 1200px;
     }

     .texto{
        margin: 0px;
        background-color:#46a3aa;
        width: 630px;
     }
     .ll{
        text-align: left;
        padding-right: 200px;
        margin-bottom: 30px;
        margin: 30px;
        width: 700px;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
       
     }
     
      .ll2{
        display: inline-block;
        padding-right: 520px;
        
      }
   
      
     

.titulos{
        background-color: #eec02f;
        font-size: 35px;
        width: 580px;
        font-family: "Fascinate Inline", system-ui;
   
    
}

    .area{
        width: 1000px;
        height: 300px;
        display:flex;
    }

.evento{
 margin: 0px;
 width: 1000px;

}
.logos img{
 height: 45px;
 padding-right: 15px;
 
 
}
.logos{
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color:#c4464a;
    border-radius: 11px;
    width: 190px;
    padding-right: 45px;
}
.aside{
    padding-bottom: 90px;
    padding-left: 200px;
}

   
     #poster{
        max-width: 300px;
        margin-left: 20px;
        margin-right: 20px;
       
        
     }

     #main{
        margin: auto;
     }
     .sm{
        background-color: #46a3aa;
        padding-bottom: 5px;
        margin-bottom: 40px;
        font-size: 22px;
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
     }

     section img{
        border-radius: 10px;
        cursor: pointer;   
        transition: box-shadow 0.3s ease;
        
     }

     section img:hover {
      box-shadow: 0 0.4rem 0.7rem 0 rgba(255, 0, 0, 0.5);
   }

   .cabe p{
      font-family: "Roboto", sans-serif;
   }

     .logos a{
      text-decoration: none;
     }

     #lupa{
      width: 30px;
     margin: 15px 85px ;
     cursor: pointer;
    

    
      
     }

     #barra{
      width: 800px;
      display: flex;
      margin-left: 10px;
     }

     #loogo img{
      width: 150px;
      margin-right: 150px;
      cursor: pointer;
     }

     #tt{
      width: 900px;
      height: 260px;
      font-size: 35px;
      text-align: justify;
      text-align: center;
      background-color: #46a3aa;
      width: 1000px;
            
      
     }
    #post{
      border: 3px solid #fff;
    }

    .ubi{
      font-size: 14px;
      text-align: justify;
      text-align: center;
      background-color: #46a3aa;
      width: 1000px;
   
      
     
    }

    .ubi p{
      font-family: "Roboto", sans-serif;
      text-align: justify;
      text-align: center;
    }

    .fb{
      font-family: "Roboto", sans-serif;
    }
    .ig{
      font-family: "Roboto", sans-serif;
    }

    .fo{
      display: flexbox;
      
    }

    #izq{
      float: left;
    }
    #der{ 
      margin: 0;
      padding-right: 300px;
      width: 1650px;
    }
   .comentario{
      display:flexbox;
      display: grid;
      color: black;
   }
    
    

    